<br>
<br>
<h1 class="text-center">About</h1>
<br>
<br>
<div class="about-container">
  <div class="about-text">
  <p>
    愛犬とのお出かけで一番幸せを感じること、<br>
    それは、愛犬が楽しんでくれることですよね！<br>
    <br>
    お出かけ先までの移動で負担がかかっていないか<br>
    心配になることはありませんか？<br>
    <br>
    そんな愛犬家のお手伝いがしたいと思い、<br>
    移動距離からお出かけ先が検索できるサイトを作りました！
  </p>
  </div>
</div>
<br>
<br>
<br>
<br>
