<table class="table table-borderless">
        <tr>
            <%= image_tag user.get_profile_image %>
        </tr>
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
	        <th>名前</th>
	        <th><%= user.name %></th>
        </tr>
        <tr>
	        <th>自己<br>紹介</th>
	        <th><%= user.introduction %></th>
        </tr>
      </table>

      <div class='row'>
        <%= link_to users_information_edit_path, class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>