<li><%= link_to '会員一覧',admin_users_path  ,class:'nav-link text-light mx-6 px-4 btn btn-dark' %></li>
<li><%= link_to 'レビュー', admin_reviews_path ,class:'nav-link text-light mx-4 px-4 btn btn-dark' %></li>
<li><%= link_to 'カテゴリー', admin_facility_categories_path ,class:'nav-link text-light mx-7 px-4 btn btn-dark' %></li>
<li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete ,class:'nav-link text-light mx-6 px-4 btn btn-dark' %></li>