<li><%= link_to '新規登録', new_user_registration_path, class:'nav-link text-light mx-4 px-4 btn', style: 'background-color: #ff7f50;' %></li>
<li><%= link_to 'ログイン', new_user_session_path, class:'nav-link text-light mx-4 px-4 btn', style: 'background-color: #ff7f50' %></li>
<li><%= link_to 'レビュー', reviews_path, class:'nav-link text-light mx-4 px-4 btn', style: 'background-color: #ff7f50;' %></li>
<li><%= link_to 'About', about_path, class:'nav-link text-light mx-4 px-4 btn', style: 'background-color: #ff7f50;' %></li>